
<div id="listView">
<button type="button" class="btn btn-success" ui-sref="portal.users.add" ng-click="tableC.addBtn()">Add</button>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>E-Mail</th>
        <th>Password</th>
        <th>Role</th>
        <th>Events</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in tableC.data.users">
        <td>{{ item.username }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.password }}</td>
        <td>{{ item.role }}</td>
        <td>
            <button class="btn btn-default" has-permission="appC.roleUserAdmin" ui-sref="portal.users.view({userid : tableC.newData.users.username})" ng-click="tableC.viewBtn($index)">View</button>
            <button class="btn btn-primary" has-permission="appC.roleUserAdmin" ui-sref="portal.users.edit({userid : tableC.newData.users.username})" ng-click="tableC.editBtn($index)">Edit</button>
            <button class="btn btn-danger" has-permission="appC.roleUserAdmin" ng-click="tableC.submitDelete($index)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>